      <input placeholder="start typing here to search for a movie" 
        class="centered-content main-input extra-big-size" type="text"
        ng-model="movieTitle" ng-change="changeLoader(); writeTitle(movieTitle)"
        ng-model-options="{ debounce: 500 }">

      <div ng-show="showLoader" class="loader-container">
      	  <div class="ball"></div>
    		  <div class="ball"></div>
    		  <div class="ball"></div>
    		  <div class="ball"></div>
    		  <div class="ball"></div>
    		  <div class="ball"></div>
		      <div class="ball"></div>
      </div>
      <div ng-show="showError">
        <p>{{errorMessage}}</p>
      </div>
      <ul class="movie-list centered-content" ng-hide="showLoader">
        <li ng-repeat="item in movies">
          <a ng-href="index.html#/movie/{{item.id}}">
            <div class="movie-thumb" style="background-image: url('https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{item.poster_path}})"></div>
          </a>
          <div class="movie-info">
            <a ng-href="index.html#/movie/{{item.id}}"><h2>{{item.title}}</h2></a>
            <!--<a ng-href="index.html#/movie/{{item.imdbID}}"><h3>{{item.Year}}</h3></a>-->
          </div>
        </li>
      </ul>
