<style>
	.movie-box::before{
		background-image: url('https://image.tmdb.org/t/p/w1066_and_h600_bestv2{{images.backdrops[0].file_path}}');
	}
</style>
<div class="movie-box full-width">
	<div class="poster-box">
		<img ng-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" />
	</div>
	<div class="movie-details">
		<ul class="small-size">
			<li ng-repeat="(key, value) in cast.crew | groupByJob">
				<span class="bold">{{key}}:</span> 
				<span ng-repeat="tech in value track by $index">{{tech}}<span ng-if="$index != (value.length-1)">, </span></span>
			</li>
			<li>
				<span class="bold">Cast: </span>
				<span ng-repeat="actor in cast.actors | limitTo: 5 track by $index">
					{{actor.name}}<span ng-if="$index != (cast.actors.length-1) && $index < 4">, </span>
				</span>
			</li>
		</ul>
		<h2 class="movie-title">{{movie.title}} <span class="regular big-size">({{movie.year}})</span></h2>
		<ul class="small-size non-styled-list">
			<li ng-repeat="genre in movie.genres track by $index">
				{{genre.name}}<span ng-if="$index != (movie.genres.length-1)">, </span>
			</li>
		</ul>
		 | <span class="small-size">{{movie.runtime}} min.</span>
		<div class="movie-plot">{{movie.overview}}</div>
		<!--
		Needs trustYouTube custom servide - WIP
		<iframe width="560" height="315" ng-src="{{video}}" frameborder="0" allowfullscreen></iframe>
		END WIP
		-->
	</div>
</div>
<div class="back-button-holder">
	<a href="index.html#/">Back</a>
</div>
